%section.hero.is-fullheight
    %div.hero-body
        %div.container.has-text-centered
            %div.column.is-4.is-offset-4
                %h3.title.has-text-grey Login
                %p.subtitle.has-text-grey Pleas Login to proceed.
                %div.box
                    %figure.avatar
                        = image_tag "user.png", class: "rounded"
                    = form_for :session, url: login_path do |f|
                        %div.field
                            %div.control
                                = f.email_field :email, class: "input is-middle", placeholder: "Enter email", autofocus: true
                        %div.field
                            %div.control
                                = f.password_field :password, class: "input is-middle", placeholder: "Enter password", autofocus: false
                        = f.button("Log In", class: "button is-block is-info is-middle is-fullwidth")
