%div.column.is-8.is-offset-2
    %div.card.article
        %div.card-content
            %div.media
                %div.media-center.author-image
                    = user_gravatar(@article.user)
                %div.media-content.has-text-centered
                    - if logged_in? && (current_user == @article.user)
                        = link_to 'Edit article', edit_article_path(@article)
                        = link_to 'Delete article', article_path(@article), method: :delete
                    %p.title.article-title
                        = link_to @article.header, article_path(@article)
                    %p.subtitle.is-6.article-subtitle
                        = "Created by: " + @article.user.username if @article.user
                        = "Created at: " + time_ago_in_words(@article.created_at) + " ago"
                        = "Updated at: " + time_ago_in_words(@article.updated_at) + " ago"
            %div.content.article-body
                %h3.has-text-centered
                    = @article.title
                %p
                    = @article.description